h1,
h2 {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.light {
  transition: 0.5s;
  background-color: white;
  color: black;
}

.dark {
  transition: 0.5s;
  background-color: rgb(21, 23, 31);
  color: rgb(231, 231, 231);
}

.light-button {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
  background-color: rgb(197, 198, 255);
  color: black;
  padding: 0.5em;
}

.dark-button {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
  background-color: rgb(45, 36, 58);
  color: white;
  padding: 0.5em
}

.result-red {
  color: red;
}

.result-yellow {
  color: yellow;
  text-shadow: 0px 0px 5px black;
}

.result-green {
  color: green;
}